In [ ]:
##Post modeling EDA should be on the predictions and see how those compare to the original 
# if there are a lot of songs that have the same rating like all the songs have 5, with the probability predicted ratings it gives
#more variety in the songs raitngs results 
# this is happening because we have one rating per track and that ratingi s binary therefore having the preidcted probability ratings intsead it gives more context 
#as to which songs are actually better or not and therefore my recommendations are stronger

# Post-Modeling EDA for Recommendation System

In [10]:
#Import relevant packages
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
est = pd.read_csv('estimations_sample')
est.drop(['Unnamed: 0'], axis=1, inplace=True)

In [24]:
est.head(2)

                artist_id                track_id  estimatedrating
0  6zB02lwP6L6ZH32nggQiJT  48Hb8h1VlqQDqQHcjkCRK4         2.944323
1  2NhdGz9EDv2FeUw6udu2g1  4x3qqSA4cP49oZQXPLnDBe         2.673374

In [25]:
est.shape

(10000, 3)

In [26]:
#Check for NA values 
est.isna().sum()

artist_id          0
track_id           0
estimatedrating    0
dtype: int64

In [27]:
#Check how many unique values of each column 
est.nunique()

artist_id          2290
track_id           5286
estimatedrating    8974
dtype: int64